body{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav section aside"
    "footer footer footer"
    ;
    grid-template-columns: 15% 1fr 18%;
    grid-template-rows: 80px 1fr 50px;
    gap:5px;
    height: 100vh;
    margin: 10px;

}

header{
    grid-area: header;
    background-color: #707070;
}

nav{
    grid-area: nav;
    background-color: #c9bfbf;
}

section{
    grid-area: section;
    background-color: #ababab;
}

aside{
    grid-area: aside;
    background-color: #c9bfbf;
}

footer{
    grid-area: footer;
    background-color: #707070;
}

header , nav , section , aside , footer{
    padding: 5px;
}